@import "variables";

.post-dir.post-detail-page{
    .post-content-container {
        padding-top: $topbarHeight;

        .parent-info-container {
            margin-top: $defaultMargin;
            height : 60px;
            border : 1px solid #ccc;
            border-radius: 8px;
            padding: 4px;
            display: flex;
            align-items: center;
            overflow: hidden;

            .img {
                width : 48px;
                height: 48px;
            }


            .desc-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding : 4px;


                .description {
                    font-size: 14px;
                }
            }
        }

        .user-info-container {
            margin-top: $defaultMargin;
            display: flex;
            padding: 0px;
            align-items: center;

            .user-name{
                margin-left: $defaultMargin;
            }
        }

        .title {
            margin-top: $defaultMargin;
        }

        .toolbar {
            display: flex;
            align-items: center;
            margin : 0px -12px;

            p {
                padding-top: 4px;
            }

        }
    }

    .link-post-section {
        margin-top: $largeMargin;
        padding : 0;

        .title {
            text-align: center;
        }

        .input-container {
            display: flex;
            align-items: center;

            .txt-input {
                margin-left: $smallMargin;
                flex-grow: 1;
                margin-right: $defaultMargin;
            }
        }
    }
}
