@import "variables";

.post-dir.post-card{
    margin : $smallMargin;
    border-radius: $defaultBorderRadius;
    text-align: left;

    .title-container{
        display: flex;
        padding: 0px;
        align-items: center;
        .more-option {
          margin-right: -$smallMargin;
        }
    }
    .description-container{
        max-height: 200px;
        overflow: hidden;
        position : relative;

        .description-fade {
            position: absolute;
            width: 100%;
            height : 50px;
            background-image: linear-gradient(to bottom,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0.9)
            100%);
            bottom: 0;
            left: 0;
        }
    }


    .lbl-child-count{
        margin-right: $defaultMargin;
    }
}
